<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%include templates/haeder.ejs%>
<h1><%= title %></h1>
<p>this is all about <%= name %>. Man dreaming to do nothing but change the world through his idea</p>


</body>
</html>